.cardsContainer {
    top: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    left: 11%;
    max-width: 1500px;
    height: 540px;
}

//CARDS STRUTURE
.cardLeft {
    width: 25%;
    .mat-card-header-text {
        margin: 0;
    }
    .mat-card-avatar {
        height: 0;
        width: 0;
    }
}

.cardCenter {
    width: 50%;
    margin-right: 10%;
    margin-left: 10%;
}

.cardRight {
    width: 25%;
    .mat-card-header-text {
        margin: 0;
    }
    .mat-card-avatar {
        height: 0;
        width: 0;
    }
}

//

// HIDEN CARRDS
.hiddenCardLeft {
    width: 10%;
    margin-right: 10%;
    opacity: 0;
    .mat-card-image:first-child {
        margin-top: 0px;
    }
}

.hiddenCardRight {
    width: 10%;
    margin-left: 10%;
    opacity: 0;
    .mat-card-image:first-child {
        margin-top: 0px;
    }
}
//

//MOVEMENTS
.cardLeftMoveSlow {
    animation-name: leftAnimationSlow;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}
.cardLeftMove {
    animation-name: leftAnimation;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}
.cardLeftMoveReverse {
    animation-name: leftAnimationReverse;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}


.cardCenterMove {
    animation-name: centerAnimation;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}
.cardCenterMoveReverse {
    animation-name: centerAnimationReverse;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}


.cardRightMoveSlow {
    animation-name: rightAnimationSlow;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}
.cardRightMove {
    animation-name: rightAnimation;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}
.cardRightMoveReverse {
    animation-name: rightAnimationReverse;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}
//

//ARROWS + BACKGROUND COLOR ARROWS
.arrowLeft {
    margin-right: 7%;
    height: 400px;
    position: absolute;
    top: 38%;
    left: 35%;
}
.arrowRight {
    margin-left: 7%;
    height: 400px;
    position: absolute;
    top: 38%;
    left: 29%;
}

.backgroundColorLeft:hover {
    box-shadow: 7px 7px 5px white;
    border-bottom: solid rgb(187, 3, 126);
    border-left: solid rgb(187, 3, 126);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.backgroundColorRight:hover {
    box-shadow: 7px 7px 5px white;
    border-bottom: solid rgb(187, 3, 126);
    border-right: solid rgb(187, 3, 126);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.backgroundColorLeft {
    position: absolute;
    left: -9%;
    height: 100px;
    width: 100px;
    top: 42%;
}

.backgroundColorRight {
    right: -10%;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 42%;
}
//

//animations
  @keyframes leftAnimation {
    0% { left:0px; opacity: 0.3;width: 25%;}
    50% { left:0px; opacity: 0.3;width: 35%;}
    100% { transform:translateX(300px); opacity: 1;width: 50%;}
  }

  @keyframes leftAnimationSlow {
    0%   { left:0px; opacity: 0.1;}
    100% { transform:translateX(300px); opacity: 1;width: 25%}
  }

  @keyframes leftAnimationReverse {
    0%   { left:0px; opacity: 0.8; width: 35%;}
    100% { transform:translateX(300px); opacity: 0.0;width: 25%;}
  }

  @keyframes centerAnimation {
    0%   { left:0px; opacity: 0.8; width: 40%;}
    50%   { left:0px; opacity: 0.4; width: 35%;}
    100% { transform:translateX(300px); opacity: 0.8;width: 25%;}
  }

  @keyframes centerAnimationReverse {
    0%   { right:0px; opacity: 0.8;width: 40%;}
    50%   { right:0px; opacity: 0.4;width: 35%;}
    100% { transform:translateX(-300px); opacity: 0.8;width: 25%;}
  }

  @keyframes rightAnimation {
    0%   { right:0px; opacity: 0.3;width: 25%;}
    50%   { right:0px; opacity: 0.3;width: 35%;}
    100% { transform:translateX(-300px); opacity: 1;width: 50%;}
  }

  @keyframes rightAnimationSlow {
    0%   { right:0px; opacity: 0.1;}
    100% { transform:translateX(-300px); opacity: 1; width: 25%}
  }

  @keyframes rightAnimationReverse {
    0%   { right:0px; opacity: 0.8; width: 35%;}
    100% { transform:translateX(-300px); opacity: 0.0;width: 25%;}
  }
  //