<div class="cardsContainer">
    <div (click)="nextCard()" class="backgroundColorLeft">
        <div class="arrowLeft">
            <span class="material-icons">
                keyboard_arrow_left
            </span>
        </div>
    </div>
    <mat-card class="hiddenCardLeft" style="max-width: 10% !important;" [ngClass]="{'cardLeftMoveSlow' : transition}">
        <mat-card-header [ngStyle]="{'display': !transition ? 'none' : 'inline-block'}">
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="images[xleftCard]" alt="Photo of a Shiba Inu">
    </mat-card>
    <!-- <mat-card class="maxCardLeft" [ngClass]="{'maxCardLeftMove' : transition, 'maxCardLeftMoveReverse' : transitionReverse}">
        <img mat-card-image [src]="images[xleftCard]" alt="Photo of a Shiba Inu">
    </mat-card> -->

    <mat-card class="cardLeft" [ngClass]="{'cardLeftMove': transition, 'cardRightMoveReverse' : transitionReverse}">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="images[leftCard]" alt="Photo of a Shiba Inu">
        <mat-card-content [ngStyle]="{'display': !transition ? 'none' : 'inline-block'}">
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
        </mat-card-content>
        <mat-card-actions [ngStyle]="{'display': !transition ? 'none' : 'inline-block'}">
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="cardCenter" [ngClass]="{'cardCenterMove': transition, 'cardCenterMoveReverse' : transitionReverse}">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="images[centerCard]" alt="Photo of a Shiba Inu">
        <mat-card-content [ngStyle]="{'display': transition || transitionReverse ? 'none' : 'inline-block'}">
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
        </mat-card-content>
        <mat-card-actions [ngStyle]="{'display': transition || transitionReverse ? 'none' : 'inline-block'}">
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="cardRight" [ngClass]="{'cardLeftMoveReverse': transition, 'cardRightMove' : transitionReverse}">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="images[rightCard]" alt="Photo of a Shiba Inu">
        <mat-card-content [ngStyle]="{'display': !transitionReverse ? 'none' : 'inline-block'}">
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
        </mat-card-content>
        <mat-card-actions [ngStyle]="{'display': !transitionReverse ? 'none' : 'inline-block'}">
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>

    <!-- <mat-card class="maxCardRight" [ngClass]="{'maxCardRightMove' : transition, 'maxCardRightMoveReverse' : transitionReverse}">
        <img mat-card-image [src]="images[xrightCard]" alt="Photo of a Shiba Inu">
    </mat-card> -->

    <mat-card class="hiddenCardRight" style="max-width: 10% !important;" [ngClass]="{'cardRightMoveSlow' : transitionReverse}">
        <mat-card-header [ngStyle]="{'display': !transitionReverse ? 'none' : 'inline-block'}">
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="images[xleftCard]" alt="Photo of a Shiba Inu">
    </mat-card>

    <div (click)="previousCard()" class="backgroundColorRight">
        <div class="arrowRight">
            <span class="material-icons">
                keyboard_arrow_right
            </span>
        </div>
    </div>
</div>